.booklist-container
{
    display: flex;
    width: 80%;
    border: solid #F5572F 2px;
    color: white;
    border-radius: 5px;
}

.booklist-item-container{
   
    padding: 10px;
  
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font-size: x-small;
    align-items: center;
}

.edit-button{
    padding: 10px;
    border: none;
    background-color: white;
    color: black;
    margin-right: 10px;
}

.delete-button{
    background-color: #F24141;
    padding: 10px;
    border: none;
}

.hide{
    display: none;
}
.booklist-input{
    background-color: transparent;
    border: none;
    border-bottom:solid white 2px;
    width: 100%;
    color: white;
    font-size: 20px;
}
.booklist-input:focus{
    outline: none;
}